<div class="cropper-container">
    <img src="{{image}}">
</div>

<div class="modal-footer">
    <button {{action "cancelCrop"}} class="gh-btn"><span>Cancel</span></button>
    <button {{action "cropImage"}} class="gh-btn gh-btn-red"><span>Save</span></button>
</div>

{{!--
<button {{action "getCroppedAvatar"}}>Crop</button>
<div class="cropper-preview">
</div>
<div class="cropped-avatar">
    {{croppedAvatar}}
</div> --}}